body {
  font-size: 16px;
  font-family: sans-serif;
}
p {
    display: inline-flex;
}
header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 95%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
header {
    font-family: 'Bowlby One SC', cursive;
}
li {
    display: inline-flex;
}
    nav span {
        position: relative;
        float: left;
        right:auto;
        display:none;
    }
    nav button{
    position:relative;
    float:right;
    }
    nav span a {
        float: left;
        color: blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    nav span a:hover{
        background-color:aqua;
        color:black;
    }
    nav span ul {
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow:hidden;
    }
.active {
    background-color:yellow;
}
.navigation.responsive {
    display:flex;
}
    main {
        text-align:center;
        background-color: white;
    }
.labels { 
    width: 40px; 
    text-align:right;
}
input {
    margin: 5px 20px; 
    font-size:.8em; 
    color: #3377bb; 
    padding: .5rem; 
}
 
    #main-image{
        width: 5em;
        height: 5em;
        position:relative;    
    }
    #title{
        position:relative;
        top:10%;
        color:cornflowerblue;
    }
    #motto{
        display:inline-flex;
        width:10em;
        position:relative;
       top: 10%; 
    }
    footer {
        text-align: center;
        position:relative;
        bottom: 0%;
        width:100%;
        color:white;
        background-color:blue;
    }
