@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
   
    
    main section.forecast { 
        display: inline-flex;
    }  /* show the 10-day forecast with the medium view and up */

    nav span{
        display:inline-flex;
    }
    nav button {
        display:none;
    }

    	.hamburger { display: none;	}
    main {
        grid-template-columns: 1fr 1fr
    }
    .gallery-image {
        max-width: 20em;
    }
}
footer {
    display:inline-flex;
    justify-content:center;
}