@media only screen and (min-width: 37.5em) {
    .right {
        float:right;
    }
       nav span{
        display:inline-flex;
    }
    nav button {
        display:none;
    }
    nav span a{
        font-size:24px;
    }
.hamburger { display: none;	}
}
main {
        display: inline-flex;
        width:90%;