@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
   
    
    main section.forecast { 
        display: inline-block;
    }  /* show the 10-day forecast with the medium view and up */
    #franklin-photo {
        float:right;
        width:40%;
        height: 200px;
    }
    nav span{
        display:inline-block;
    }
    nav button {
        display:none;
    }
    #firephoto {
        display:inline;
        width: 40%;
        position:absolute;
        bottom: -100px;
        float: right;
    }
    #town-article{
        display: inline-block;
        width:40%;
        float: left;
    }
    	.hamburger { display: none;	}
}